<header class="topbar">
    <div class="search-box">
        <i class="fa fa-magnifying-glass"></i>
        <input placeholder="Ara..." />
    </div>
    <div class="user-area">
        <span class="avatar">EA</span>
    </div>
</header>
