<!-- Navigasyon -->
<nav id="navbar">
    <div class="container nav-container">
        <a href="#" class="logo">Pazar<span>Yeri</span></a>

        <ul class="nav-links">
            <li><a href="#">Ana Sayfa</a></li>
            <li><a href="#">Mağazalar</a></li>
            <li><a href="#">Kategoriler</a></li>
            <li><a href="#">Fiyatlandırma</a></li>
            <li><a href="#">Blog</a></li>
        </ul>

        <div class="nav-actions">
            <a href="login" class="btn btn-secondary">Giriş Yap</a>
            <a href="register" class="btn btn-primary">Ücretsiz Başla</a>
        </div>
    </div>
</nav>